
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

node_modules
public/main.js
public/img/icons
twitter-design.png
public/img/users/avatars
public/styles/bundled.min.css
twitter-profile-design.jpeg
twitter-profile-design-1.png