$body-outline: 1px solid $gray-300;

html, body {
    height: 100%;
    overflow: hidden;
}

a {
    text-decoration: inherit;
    font-weight: inherit;
    color: inherit;
    cursor: pointer;
}

.body-overlay {
    z-index: $z-index-base;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $overlay-color;
    opacity: 0;
    visibility: hidden;
    transition: opacity $sidebar-transition ease-in;
}

body.active .body-overlay {
    visibility: visible;
    opacity: .25;

    @include media-breakpoint-up(md) {
        display: none;
    }
}

.icon {
    cursor: pointer;
}

.page {
    max-width: map-get($grid-breakpoints, 'xl');
}

.main-content {
    overflow-y: scroll;
    border-right: $body-outline;
}

.main-title-container {
    border-bottom: $body-outline;
    border-right: $body-outline;
    text-align: center;
    padding: 1rem;

    @include media-breakpoint-up(md) {
        text-align: left;
    }

    > h1 {
        margin-bottom: 0;
    }
}

.standard-transition {
    transition: all .3s ease-in-out;
}