// Override bootstrap classes

.btn-primary {
    @extend .btn-primary, .standard-transition;
    color: white;
    font-weight: bold;
}

.btn-outline-primary {
    &:hover {
        color: white;
    }
}