.main-content-container {
    overflow-y: scroll;
    border-right: $body-outline;
}

.main-title-container {
    border-right: $body-outline;
    text-align: center;

    @include media-breakpoint-up(md) {
        text-align: left;
    }

    > h1 {
        margin-bottom: 0;
    }
}

.post__icon:hover {
    color: inherit;
}

.post-show-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: $z-index-base;
}

.post__icon,
.post__profile-link {
    z-index: $z-index-upper-base;
}
