.main-content-container {
    overflow-y: scroll;
    border-right: $body-outline;
}

.main-title-container {
    border-bottom: $body-outline;
    border-right: $body-outline;
    text-align: center;
    padding: 1rem;

    @include media-breakpoint-up(md) {
        text-align: left;
    }

    > h1 {
        margin-bottom: 0;
    }
}