$sidebar-bg: $gray-300;

.sidebar {
    position: fixed;
    min-height: 100vh;
    max-width: 90vw;
    z-index: $z-index-top;
    background: $sidebar-bg;
    transform: translate3d(-100%, 0, 0);
    transition: transform $sidebar-transition ease-in-out;

    &.active {
        transform: translate3d(0%, 0, 0);
        box-shadow: $box-shadow;
    }

    @include media-breakpoint-up(md) {
        flex: 1.5 1 0;
        position: static;
        transform: translate3d(0%, 0, 0);
        box-shadow: $box-shadow;
    }

    @include media-breakpoint-up(lg) {
        flex: 1 1 0;
    }

    &-icon {
        z-index: 6;
        cursor: pointer;
    }

    nav > * {
        @extend .standard-transition;
    }
}

.main {
    flex: 3 1 0;
}

.search-input {
    border: 0;
    padding-top: .25rem;
    padding-bottom: .25rem;
    background-color: $sidebar-bg;
    min-width: 0;

    &::placeholder {
        @extend .standard-transition;
        opacity: 1;
        color: black;
        font-weight: bold;
    }

    &:hover::placeholder {
        color: $primary;
    }

    &:focus {
        outline: 1px solid $primary;

        &::placeholder {
            color: $primary;
        }
    }
}
