$primary:  #d35400;
// $secondary: #FFA07A;

$body-bg: #FFFDFA;
$overlay-color: #fbeee6;

$z-index-base: 1;
$z-index-upper-base: 2;
$z-index-middle: 3;
$z-index-upper-middle: 4;
$z-index-top: 5;

$sidebar-transition: 300ms;
