{% extends 'settings_profile/_settings-profile-base.html.twig' %}

{% block tabContent %}
    {% form_theme form 'bootstrap_5_layout.html.twig' %}
    {{ form_start(form, {'attr': {'class': 'px-2 px-md-3 py-4'}}) }}
        {{ include('settings_profile/_profile-form.html.twig')}}
        <div class="row">
            <div class="col-lg-6">
                <input type="submit" class="btn btn-primary w-100" value="Save">
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}