{% if posts is not defined %}
    <h3>nothing to show here</h3>
{% else %}
    <div class="post__list d-flex flex-column">
        {% for post in posts %}
            <a href="{{ path('app_show', {id : post.id, post: post}) }}" class="d-inline-block">
                {{include('post/_post.html.twig', {post: post})}}
            </a>
        {% endfor %}
    </div>
{% endif %}
