{% extends 'base.html.twig' %}

{% block title %} {{ pageTitle }} {% endblock %}

{% block breadcrumbs %}
    → <a href="{{ path('app_post_show', {id: post.id}) }}">Post</a> → {{ pageTitle }}
{% endblock %}

{% block content %}
    <div class="px-md-3">
        {{ include('post/_post.html.twig') }}
    </div>
{% endblock %}
