{% extends 'base.html.twig' %}

{% block title %} {{ pageTitle }} {% endblock %}

{% block breadcrumbs %}
    → {{ pageTitle }}
{% endblock %}

{% block content %}
    <div class="px-md-3">
        {{ include('post/_post.html.twig', {hidePostLink: true}) }}
    </div>
{% endblock %}
