<div class="flash-popover position-absolute rounded py-1 px-3 mt-3">
    <span class="flash-popover__message">Test message</span>
    {{include('shared/_icon.html.twig', {name: 'x', size: 24, classes: 'flash-popover__cross'})}}
</div>
